In [1]:
import pandas as pd
import numpy as np
import matplotlib as mlt
import os
import cv2
import sys
import mediapipe as mp
mp_drawing = mp.solutions.drawing_utils
mp_pose = mp.solutions.pose

In [2]:
dicty = {'Name':['Timithy', 'Doguls', 'Ronnie', 'Georgia'],
        'Maths':[87, 91, 97, 95],
        'Science':[83, 99, 84, 76]
       }
  
df = pd.DataFrame(dicty)

In [3]:
print(df)

      Name  Maths  Science
0  Timithy     87       83
1   Doguls     91       99
2   Ronnie     97       84
3  Georgia     95       76

In [4]:
df.loc[len(df.index)] = ['Amy', 89, 93] 
  
display(df)

      Name  Maths  Science
0  Timithy     87       83
1   Doguls     91       99
2   Ronnie     97       84
3  Georgia     95       76
4      Amy     89       93

In [5]:
landmarkz1 = ['x1',
 'y1',
 'z1',
 'v1',
 'x2',
 'y2',
 'z2',
 'v2',
 'x3',
 'y3',
 'z3',
 'v3',
 'x4',
 'y4',
 'z4',
 'v4',
 'x5',
 'y5',
 'z5',
 'v5',
 'x6',
 'y6',
 'z6',
 'v6',
 'x7',
 'y7',
 'z7',
 'v7',
 'x8',
 'y8',
 'z8',
 'v8',
 'x9',
 'y9',
 'z9',
 'v9',
 'x10',
 'y10',
 'z10',
 'v10',
 'x11',
 'y11',
 'z11',
 'v11',
 'a11',
 'x12',
 'y12',
 'z12',
 'v12',
 'a12',
 'x13',
 'y13',
 'z13',
 'a13',
 'v13',
 'x14',
 'y14',
 'z14',
 'v14',
 'a14',
 'x15',
 'y15',
 'z15',
 'v15',
 'x16',
 'y16',
 'z16',
 'v16',
 'a16',
 'x17',
 'y17',
 'z17',
 'v17',
 'a17',
 'x18',
 'y18',
 'z18',
 'v18',
 'x19',
 'y19',
 'z19',
 'v19',
 'x20',
 'y20',
 'z20',
 'v20',
 'x21',
 'y21',
 'z21',
 'v21',
 'x22',
 'y22',
 'z22',
 'v22',
 'x23',
 'y23',
 'z23',
 'v23',
 'a23',
 'x24',
 'y24',
 'z24',
 'v24',
 'a24',
 'x25',
 'y25',
 'z25',
 'v25',
 'a25',
 'x26',
 'y26',
 'z26',
 'v26',
 'a26',
 'x27',
 'y27',
 'z27',
 'a27',
 'v27',
 'x28',
 'y28',
 'z28',
 'v28',
 'a28',
 'x29',
 'y29',
 'z29',
 'v29',
 'x30',
 'y30',
 'z30',
 'v30',
 'x31',
 'y31',
 'z31',
 'v31',
 'x32',
 'y32',
 'z32',
 'v32',
 'x33',
 'y33',
 'z33',
 'v33',]

In [6]:
landmarkz2 = ['x1',
 'y1',
 'z1',
 'v1',
 'x2',
 'y2',
 'z2',
 'v2',
 'x3',
 'y3',
 'z3',
 'v3',
 'x4',
 'y4',
 'z4',
 'v4',
 'x5',
 'y5',
 'z5',
 'v5',
 'x6',
 'y6',
 'z6',
 'v6',
 'x7',
 'y7',
 'z7',
 'v7',
 'x8',
 'y8',
 'z8',
 'v8',
 'x9',
 'y9',
 'z9',
 'v9',
 'x10',
 'y10',
 'z10',
 'v10',
 'x11',
 'y11',
 'z11',
 'v11',
 'x12',
 'y12',
 'z12',
 'v12',
 'x13',
 'y13',
 'z13',
 'v13',
 'x14',
 'y14',
 'z14',
 'v14',
 'x15',
 'y15',
 'z15',
 'v15',
 'x16',
 'y16',
 'z16',
 'v16',
 'x17',
 'y17',
 'z17',
 'v17',
 'x18',
 'y18',
 'z18',
 'v18',
 'x19',
 'y19',
 'z19',
 'v19',
 'x20',
 'y20',
 'z20',
 'v20',
 'x21',
 'y21',
 'z21',
 'v21',
 'x22',
 'y22',
 'z22',
 'v22',
 'x23',
 'y23',
 'z23',
 'v23',
 'x24',
 'y24',
 'z24',
 'v24',
 'x25',
 'y25',
 'z25',
 'v25',
 'x26',
 'y26',
 'z26',
 'v26',
 'x27',
 'y27',
 'z27',
 'v27',
 'x28',
 'y28',
 'z28',
 'v28',
 'x29',
 'y29',
 'z29',
 'v29',
 'x30',
 'y30',
 'z30',
 'v30',
 'x31',
 'y31',
 'z31',
 'v31',
 'x32',
 'y32',
 'z32',
 'v32',
 'x33',
 'y33',
 'z33',
 'v33',
 'a11',
 'a12',
 'a13',
 'a14',
 'a16',
 'a17',
 'a23',
 'a24',
 'a25',
 'a26',
 'a27',
 'a28',
 'path',]

In [7]:
df_new = pd.DataFrame(columns=landmarkz2)

In [8]:
display(df_new)

Empty DataFrame
Columns: [x1, y1, z1, v1, x2, y2, z2, v2, x3, y3, z3, v3, x4, y4, z4, v4, x5, y5, z5, v5, x6, y6, z6, v6, x7, y7, z7, v7, x8, y8, z8, v8, x9, y9, z9, v9, x10, y10, z10, v10, x11, y11, z11, v11, x12, y12, z12, v12, x13, y13, z13, v13, x14, y14, z14, v14, x15, y15, z15, v15, x16, y16, z16, v16, x17, y17, z17, v17, x18, y18, z18, v18, x19, y19, z19, v19, x20, y20, z20, v20, x21, y21, z21, v21, x22, y22, z22, v22, x23, y23, z23, v23, x24, y24, z24, v24, x25, y25, z25, v25, ...]
Index: []

[0 rows x 145 columns]

In [9]:
def calculate_angle(a,b,c):
    a = np.array(a) # First
    b = np.array(b) # Mid
    c = np.array(c) # End
    
    radians = np.arctan2(c[1]-b[1], c[0]-b[0]) - np.arctan2(a[1]-b[1], a[0]-b[0])
    angle = np.abs(radians*180.0/np.pi)
    
    if angle >180.0:
        angle = 360-angle
        
    return angle

In [10]:
cap = cv2.VideoCapture('vdo2.mp4')
## Setup mediapipe instance
with mp_pose.Pose(min_detection_confidence=0.5, min_tracking_confidence=0.5) as pose:
    while cap.isOpened():
        ret, frame = cap.read()
        # re_frame = cv2.resize(frame, (608, 1080))
        
        # Recolor image to RGB
        image = cv2.cvtColor(frame, cv2.COLOR_BGR2RGB)
        image.flags.writeable = False
      
        # Make detection
        results = pose.process(image)
    
        # Recolor back to BGR
        image.flags.writeable = True
        image = cv2.cvtColor(image, cv2.COLOR_RGB2BGR)
        
        # Extract landmarks
        try:
            landmarks = results.pose_landmarks.landmark
            
            r_shoulder = [landmarks[mp_pose.PoseLandmark.RIGHT_SHOULDER.value].x,landmarks[mp_pose.PoseLandmark.RIGHT_SHOULDER.value].y]
            r_elbow = [landmarks[mp_pose.PoseLandmark.RIGHT_ELBOW.value].x,landmarks[mp_pose.PoseLandmark.RIGHT_ELBOW.value].y]
            r_wrist = [landmarks[mp_pose.PoseLandmark.RIGHT_WRIST.value].x,landmarks[mp_pose.PoseLandmark.RIGHT_WRIST.value].y]

            l_shoulder = [landmarks[mp_pose.PoseLandmark.LEFT_SHOULDER.value].x,landmarks[mp_pose.PoseLandmark.LEFT_SHOULDER.value].y]
            l_elbow = [landmarks[mp_pose.PoseLandmark.LEFT_ELBOW.value].x,landmarks[mp_pose.PoseLandmark.LEFT_ELBOW.value].y]
            l_wrist = [landmarks[mp_pose.PoseLandmark.LEFT_WRIST.value].x,landmarks[mp_pose.PoseLandmark.LEFT_WRIST.value].y]

            r_angle = calculate_angle(r_shoulder,r_elbow, r_wrist)
            l_angle = calculate_angle(l_shoulder,l_elbow, l_wrist)
            
            # Visualize angle
            cv2.putText(image, str(r_angle), 
                           tuple(np.multiply(r_elbow, [608, 1080]).astype(int)), 
                           cv2.FONT_HERSHEY_SIMPLEX, 0.5, (255, 255, 255), 2, cv2.LINE_AA
                            )
                                                 
            cv2.putText(image, str(l_angle), 
                           tuple(np.multiply(l_elbow, [608, 1080]).astype(int)), 
                           cv2.FONT_HERSHEY_SIMPLEX, 0.5, (255, 255, 255), 2, cv2.LINE_AA
                            )
                       
        except:
            pass
        
        
        # Render detections
        mp_drawing.draw_landmarks(image, results.pose_landmarks, mp_pose.POSE_CONNECTIONS,
                                mp_drawing.DrawingSpec(color=(245,117,66), thickness=2, circle_radius=2), 
                                mp_drawing.DrawingSpec(color=(245,66,230), thickness=2, circle_radius=2) 
                                 )               
        
        cv2.imshow('Mediapipe Feed', image)

        if cv2.waitKey(10) & 0xFF == ord('q'):
            break

    cap.release()
    cv2.destroyAllWindows()

In [11]:
row = np.array([[res.x, res.y, res.z, res.visibility] for res in results.pose_landmarks.landmark]).flatten().tolist()

In [12]:
print(len(row))

132

In [16]:
df_new = df_new.append(row)

C:\Users\dedsec995\AppData\Local\Temp\ipykernel_4340\2236333593.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append(row)

In [18]:
test_keys = ["Rash", "Kil", "Varsha"]
test_values = [1, 4, 5]

In [13]:
res = dict(zip(landmarkz2, row))

In [14]:
res

{'x1': 0.24485085904598236,
 'y1': 0.44499269127845764,
 'z1': -0.42751452326774597,
 'v1': 0.9995799660682678,
 'x2': 0.2559030055999756,
 'y2': 0.43592214584350586,
 'z2': -0.40014320611953735,
 'v2': 0.9995849132537842,
 'x3': 0.26301485300064087,
 'y3': 0.43611887097358704,
 'z3': -0.40016525983810425,
 'v3': 0.9995954036712646,
 'x4': 0.269439160823822,
 'y4': 0.436367392539978,
 'z4': -0.4002452790737152,
 'v4': 0.9996076822280884,
 'x5': 0.2392435520887375,
 'y5': 0.4354029893875122,
 'z5': -0.4000118672847748,
 'v5': 0.9995385408401489,
 'x6': 0.23343335092067719,
 'y6': 0.4352547228336334,
 'z6': -0.40004414319992065,
 'v6': 0.9995241165161133,
 'x7': 0.22799155116081238,
 'y7': 0.4352310597896576,
 'z7': -0.4000476896762848,
 'v7': 0.999498724937439,
 'x8': 0.28151968121528625,
 'y8': 0.4408073127269745,
 'z8': -0.23742884397506714,
 'v8': 0.9996331334114075,
 'x9': 0.22402969002723694,
 'y9': 0.4401676058769226,
 'z9': -0.2207397222518921,
 'v9': 0.9994987845420837,
 'x10': 0.2563329339027405,
 'y10': 0.4551279544830322,
 'z10': -0.3567260205745697,
 'v10': 0.9996351003646851,
 'x11': 0.23652762174606323,
 'y11': 0.4552465081214905,
 'z11': -0.35717716813087463,
 'v11': 0.9995705485343933,
 'x12': 0.3374477028846741,
 'y12': 0.49539461731910706,
 'z12': -0.11349958181381226,
 'v12': 0.9999105930328369,
 'x13': 0.16243970394134521,
 'y13': 0.49643751978874207,
 'z13': -0.037456855177879333,
 'v13': 0.9997626543045044,
 'x14': 0.41908979415893555,
 'y14': 0.5409632325172424,
 'z14': 0.05454606935381889,
 'v14': 0.996494710445404,
 'x15': 0.10139241814613342,
 'y15': 0.5385192036628723,
 'z15': 0.13561193645000458,
 'v15': 0.9852508902549744,
 'x16': 0.39476919174194336,
 'y16': 0.5887046456336975,
 'z16': -0.014691829681396484,
 'v16': 0.9936996698379517,
 'x17': 0.08827843517065048,
 'y17': 0.5846635103225708,
 'z17': 0.06849314272403717,
 'v17': 0.986141562461853,
 'x18': 0.3803543150424957,
 'y18': 0.6069757342338562,
 'z18': -0.029844271019101143,
 'v18': 0.983755350112915,
 'x19': 0.07797957956790924,
 'y19': 0.6009963750839233,
 'z19': 0.055076900869607925,
 'v19': 0.9721960425376892,
 'x20': 0.3710562288761139,
 'y20': 0.6015185713768005,
 'z20': -0.07324550300836563,
 'v20': 0.9838830232620239,
 'x21': 0.09320072084665298,
 'y21': 0.5986354351043701,
 'z21': 0.011052295565605164,
 'v21': 0.9735672473907471,
 'x22': 0.3722080588340759,
 'y22': 0.5959107279777527,
 'z22': -0.02847408875823021,
 'v22': 0.9801774621009827,
 'x23': 0.10024530440568924,
 'y23': 0.5944052934646606,
 'z23': 0.05316609516739845,
 'v23': 0.9684207439422607,
 'x24': 0.32592272758483887,
 'y24': 0.6351169347763062,
 'z24': -0.03912075608968735,
 'v24': 0.999768078327179,
 'x25': 0.2321988344192505,
 'y25': 0.6418169736862183,
 'z25': 0.039191633462905884,
 'v25': 0.9998437166213989,
 'x26': 0.34288978576660156,
 'y26': 0.7322331666946411,
 'z26': -0.04105755314230919,
 'v26': 0.9684616327285767,
 'x27': 0.21583817899227142,
 'y27': 0.7456879615783691,
 'z27': -0.045738570392131805,
 'v27': 0.9863203167915344,
 'x28': 0.34420424699783325,
 'y28': 0.6755467057228088,
 'z28': 0.5757089257240295,
 'v28': 0.6708459258079529,
 'x29': 0.2850569784641266,
 'y29': 0.8376948833465576,
 'z29': 0.16690991818904877,
 'v29': 0.8187043070793152,
 'x30': 0.34416210651397705,
 'y30': 0.6625511646270752,
 'z30': 0.6406272649765015,
 'v30': 0.550156831741333,
 'x31': 0.3172345459461212,
 'y31': 0.8495352268218994,
 'z31': 0.1891598403453827,
 'v31': 0.725947380065918,
 'x32': 0.328897625207901,
 'y32': 0.6812535524368286,
 'z32': 0.6625802516937256,
 'v32': 0.6964450478553772,
 'x33': 0.23606744408607483,
 'y33': 0.86439049243927,
 'z33': 0.07146601378917694,
 'v33': 0.8306980729103088}

In [15]:
display(df_new)

Empty DataFrame
Columns: [x1, y1, z1, v1, x2, y2, z2, v2, x3, y3, z3, v3, x4, y4, z4, v4, x5, y5, z5, v5, x6, y6, z6, v6, x7, y7, z7, v7, x8, y8, z8, v8, x9, y9, z9, v9, x10, y10, z10, v10, x11, y11, z11, v11, x12, y12, z12, v12, x13, y13, z13, v13, x14, y14, z14, v14, x15, y15, z15, v15, x16, y16, z16, v16, x17, y17, z17, v17, x18, y18, z18, v18, x19, y19, z19, v19, x20, y20, z20, v20, x21, y21, z21, v21, x22, y22, z22, v22, x23, y23, z23, v23, x24, y24, z24, v24, x25, y25, z25, v25, ...]
Index: []

[0 rows x 145 columns]

In [16]:
df_new.loc[len(df_new.index)] = res

In [17]:
display(df_new)

,x1,y1,z1,v1,x2,y2,z2,v2,x3,y3,...,a14,a16,a17,a23,a24,a25,a26,a27,a28,path
0,0.244851,0.444993,-0.427515,0.99958,0.255903,0.435922,-0.400143,0.999585,0.263015,0.436119,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN